
<div class="row">
    <div class="col-xs-6 col-md-2">
            <div class="row" *ngFor="let menu of menugroups"
            (click)="onSelect(menu)">
              <div class="col-xs-12 col-md-12">
                <a routerLink="/menudetail/{{menu.id}}" class="thumbnail">
                  <img height="100" width="100" src="{{menu.imgSrc}}"  alt="{{menu.name}}">
                  <div class="caption text-center">
                      <p>{{menu.name}}</p>
                  </div>
                </a>
              </div>
              
            </div>
  </div>
  <div class="col-xs-6 col-md-10">
    <!-- <router-outlet></router-outlet> -->
    <app-menu-detail [selectedParentMenu]="selectedMenu" (selectedChildMenu)=getSelectedChildMenu($event)></app-menu-detail>
</div>
</div>
<div class="row border">
  <div class="col-xs-12 col-md-12 text-center">
<label>Quantity</label>
  </div>
</div>
<div class="row text-center">
  <div class="col-xs-12 col-md-12">
      <label style="padding: 0 10px;">{{childMenuName}}</label>

      <button type="button" class="btn btn-primary" (click)="addQuantity()">+</button>
      <label style="padding: 0 10px;">{{quantity}}</label>
      <button type="button" class="btn btn-primary" (click)="subQuantity()">-</button>
  </div>
</div>
<div class="row text-center" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="container">
      <button type="button" class="btn btn-primary pull-left">Cancel</button>
      <button type="button" class="btn btn-primary pull-right">Add to Order</button>
  </div>
    

</div>
